<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing parking location</h1>

  <%= render "form", parking_location: @parking_location %>

  <%= link_to "Show this parking location", @parking_location, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to parking locations", parking_locations_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
