<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New parking spot</h1>

  <%= render "form", parking_spot: @parking_spot %>

  <%= link_to "Back to parking spots", parking_spots_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
